### Ingesting data into postgre database

In [1]:
import pyarrow.parquet as pq
import pandas as pd

In [1]:
### ti read parquet file
# trips = pq.read_pandas(r'D:\datatalk-zoomcamp\yellow_tripdata_2023-01.parquet').to_pandas()
# yel_trips = trips.head(100)
# yel_trips.head()

###### To put the data in SQL
###### 1. Generate schema
######    - create table that specify what types of columns and files are there......
######       to do this we use pd.io.sql.get_schema(yel_trips)

In [83]:
trips = pd.read_csv(r'D:\datatalk-zoomcamp\green_tripdata_2019-09.csv')
len(trips)
trips.head(100)

C:\Users\Admin\AppData\Local\Temp\ipykernel_17556\4010596620.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = pd.read_csv(r'D:\datatalk-zoomcamp\green_tripdata_2019-09.csv')

In [68]:
trips.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [2]:
# # this doesnt create a table.....we use print statement for us to see how statement look like
# pd.io.sql.get_schema(trips, name = 'ny_taxi')

# # get the list of schema
# print(pd.io.sql.get_schema(trips, name = 'ny_taxi'))

###### note the meaning of the datatype above 
###### - real : float
###### - integer : integer
###### - text : text

In [86]:
# the timestamp column is text datatype, we use (pd.to_datetime) to convert it to timestamp
trips.lpep_pickup_datetime = pd.to_datetime(trips.lpep_pickup_datetime)
trips.lpep_dropoff_datetime = pd.to_datetime(trips.lpep_dropoff_datetime)
trips.head()

In [9]:
#pip install sqlalchemy

# Create a connection to postgres
from sqlalchemy import create_engine

In [11]:
# connect to database
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')
engine.connect

In [12]:
##Export data fro paruet to csv
#trips = pq.read_table('yellow_tripdata_2023-01.parquet').to_pandas()
#trips.to_csv('yellow_tripdata_2023-01.csv', index=False)

In [88]:
trips_iter = pd.read_csv(r'D:\datatalk-zoomcamp\green_tripdata_2019-09.csv', iterator = True,  chunksize = 100000)
trips_iter

In [79]:
# to get the length of first value after iteration
df = next(trips_iter)
len(df)

100000

##### Generate a statement and create schema table

In [41]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

--- create a table and insert the data cache by cache 
        -- to do this we use the fuction called (to_sql) which will go to the database, create a table insert all the rows

In [61]:
# just to create the variables alone
df.head(n=0).to_sql(name = 'ny_taxi', con=engine, if_exists='replace')

0

In [80]:
# ## then put data in the table. if values exit it will append, 
# #       %time tells how much time it took to run
# %time df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists='append')

In [89]:
# using loop function to put the rest to the data in the table 

from time import time


while True:
    t_start = time()
    df = next(trips_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(trips.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(trips.lpep_dropoff_datetime)
    
    # df.to_sql(name = 'ny_taxi', con=engine)
    # df.to_sql(name = 'ny_taxi', con=engine, if_exists='replace')
    df.to_sql(name = 'ny_taxi', con=engine, if_exists='append')
    
    t_end = time()
    print('inserted another chunk......, took %.3f second' %(t_end - t_start))

inserted another chunk......, took 11.167 second
inserted another chunk......, took 13.696 second
inserted another chunk......, took 12.799 second

C:\Users\Admin\AppData\Local\Temp\ipykernel_17556\3817655063.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(trips_iter)

inserted another chunk......, took 12.522 second
inserted another chunk......, took 5.673 second

StopIteration:

##### Import  Another data into the database
------ main code can be found in zone_ingest.py

In [ ]:
# import os #to download file
# import pandas as pd 
# import pyarrow.parquet as pq
# from sqlalchemy import create_engine

In [ ]:
# # Make API request using wget
# api_url = 'https://api.example.com/data'  # Replace with the actual API URL
# output_file = 'api_data.json'  # Specify the output file name

In [ ]:
# os.system(f"wget {api_url} -O {output_file}") #download file

In [ ]:
# ### pipeline run in the terminal, to connect the data into the database
# python3 zone_ingest.py \
#     --user=root \
#     --password=root \
#     --host=localhost \
#     --port=5432 \
#     --db=ny_taxi \
#     --table_name=trips_zones \
#     --url=https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv